{% extends 'app\layout.html' %}
{% block content %}
<div class="contaner">
  <div class="columns is-left">
    <div class="column is-3">
      <img src="https://img2.freepng.ru/20180821/qfz/kisspng-businessperson-woman-company-informal-attire--5b7c193bc4cdf4.1504908415348595798061.jpg" alt="" style="height: 250px; width: 250px; border-radius: 50%;">

    </div>
    <div class="column is-6">
      <div class="title">
        О НАС
      </div>
      <div class="content">
        {{text}}
      </div>
      <button class="button">Читать далее</button>
    </div>

  </div>
</div>
{% endblock %}