{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>{{title}}</title>
    <script> let a = window.location.href </script>
</head>
<body class="hero has-background-info" >
    <section class="hero has-background-info  is-fullheight">
        <div class="hero-head">
          <header class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href=" {%url 'app:index' %}">
                  <img
                    src="https://bulma.io/images/bulma-type-white.png"
                    alt="Logo"
                  />
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroC">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                  <a href="/" class="navbar-item {% if request.path == '/' %} is-active {% endif %}"> Home </a>
                  <a href="/about" class="navbar-item {% if request.path == '/about/' %} is-active {% endif %}"> About </a>
                  <a href="/contacts" class="navbar-item {% if request.path == '/contacts/' %} is-active {% endif %}"> Contacts </a>
                </div>
              </div>
            </div>
          </header>
        </div>
   
        <div class="hero-body">   
            {% block content %}
            {% endblock %}     
        </div>
      </section>
</body>
</html>