{% extends 'app\layout.html' %}

{% block content %}
<div class="box " style="min-width: 100%; min-height: 80vh;">
    <div class="title has-text-centered is-size-4 mt-6">{{post.title}}</div>
    <div class="contetn image-div">
        <img src="{{ post.image.url }}" class="image post-image" alt="">
        {{post.content}}
    </div>
    <hr>
    <div class="columns author">
        <div class="column is-5">
            <div class="box has-background-info-light">
                <div class="columns">
                    <div class="column is-3">
                        <figure class="image">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png" alt="">
                        </figure>
                    </div>
                    <div class="column is-1 flex">
                        <div class="tag is-medium is-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </div>
                        <div class="tag is-medium is-link">
                            <ion-icon name="paper-plane"></ion-icon>
                        </div>
                        <div class="tag is-medium is-link">
                            <ion-icon name="logo-behance"></ion-icon>
                        </div>
                        <div class="tag is-medium is-link">
                            <ion-icon name="logo-github"></ion-icon>
                        </div>
                    </div>
                    <div class="column ml-5">
                        <div class="title is-3 is-space">
                            Иван Иванов
                        </div>
                        <div class="subtitle">
                            Разработчик, Москва, Россия
                            <a href="{% url 'app:author' post.author %}">посты автора</a>
                        </div>
                        <div class="content">
                            <div class="title is-5"> Обо мне: </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quia?</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="has-text-right">
                <button class="button mr-6 px-6">
                    <ion-icon name="chatbubble"></ion-icon>
                </button>
                <button class = "button">
                    <ion-icon name = 'thumbs-up'></ion-icon>
                </button>
                <button class = "button">
                    <ion-icon name = 'thumbs-down'></ion-icon>
                </button>
            </div>
            <div class="field my-4">
                <input type="text" class="input is-fullwidth">
                <br>
                <div class="buttons is-right">
                    <button class="button is-medium is-info">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}