{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="columns is-centered">
        <div class="column is-6">
            <div class="box">
                <div class="title is-5 has-text-centered">Регистрация</div>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for i in reg %}
                        <div class="field">{{i}}</div>
                        <div class = " help has-text-danger">{{ i.errors}}</div>
                    {% endfor %}
                    <button type="submit" class="button is-success">Отправить</button>
                    
                </form>
                <div class="">
                    <div class="title has-text-centered">Есть аккаунт?</div>
                    <a href="{% url 'users:sign_in' %}" class = 'button has-text-centered'>
                        Войти -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}