{% extends 'app\layout.html' %}

{% block content %}
<h2 style="color: red; margin: 0 15%; font-size: 80px;"><b>Страница не найдена</b></h2>
{% endblock %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem at explicabo maxime aspernatur labore necessitatibus magnam, atque fugiat eaque sunt dolores quae suscipit eveniet totam, inventore veritatis velit quasi repudiandae hic voluptates eligendi! Facere delectus error id neque? Laudantium quisquam est vero laborum rem reprehenderit autem modi ipsa iste ad velit explicabo provident ut voluptate vel a quasi, deleniti architecto. Laudantium ipsam blanditiis aliquid veniam incidunt adipisci doloremque porro perferendis, dolorum minima quae neque expedita. Nemo labore voluptates accusantium ducimus quasi? Esse, soluta! Sint esse cum, rem blanditiis laudantium voluptatem nisi asperiores natus eveniet ipsa illo debitis consequuntur, ipsum possimus.